@import "tailwindcss";

:root {
  --oasis: #009BA9;
  --dreamless-sleep: #111111;
  --mercury: #EBEBEB;
  --bank-vault: #737373;
  --soothing-sapphire: #3080E2;
  --ultrapurple-merge: #5B4E96;
  --dead-pixel: #3C3C3C;
  --dark-soul: #131F4D;
  --azure: #037BFF;
  --safety-orange: #FF6900;
}

body {
  background-color: #F8FAFC;
  color: var(--dreamless-sleep);
}
