@import "tailwindcss";

:root {
  /* Turquoise / Teal Color Codes */
  --primary-teal: #1ABC9C;
  --primary-teal-medium: #48C9B0;
  --primary-teal-light: #76D7C4;
  --primary-teal-lighter: #A3E4D7;

  /* Alizarin Coral / Rose Color Codes */
  --coral-base: #F5B7B1;
  --coral-light: #FDEDEC;
  --coral-medium: #FADBD8;
  --coral-dark: #F1948A;

  /* Theme Accents */
  --bg-slate: #F8FAFC;
  --text-dark: #111111;
}

body {
  background-color: var(--bg-slate);
  color: var(--text-dark);
}
